body{
    background-color: white;
}

body > *{
    color: grey;
    font-family: 'consolas', sans-serif;
}

header {
    /* background-color: yellow; */
    display: inline-block;
    width: 900px;
    margin-left: calc((100% - 900px) / 2);
    margin-right: calc((100% - 900px) / 2);
}

header > * {
display: inline-block;
}

header > img {
    height: 80px;
}

nav {
    float:right;
    margin-top: 30px;
}

main {
    /* background-color: green; */
    display: inline-block;
    width: 900px;
    margin-left: calc((100% - 900px) / 2);
}

main > img {
    /* height: 80px; */
    
}

main > * {
    display: inline-block;
    height: 49px;
}

main > div > h1{
    font-size: 100px;
    margin-block-start: 0.67em;
    margin-inline-end: 0;
}

main > div > p{
font-size: 25px;
margin-inline-start: 0;
}

.small-image {
    height: 80px;
}

.large-image {
    height: 300px;
}

#left {
    /* background: red; */
    width: 500px;
}

.btn {
    text-decoration:none;
    margin: 12px;
}

.signin {
   border-color: grey;
    border-style: solid;
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
}